<div class = "burger row">
    <div class = "col-8">
        {{burger_name}}
    </div>
    <div class = "col-4">
        <a class = "btn btn-primary devour" href = "#" data-id = "{{id}}">Devour</a>
    </div>
</div>